snowflake_account = "my_account"
aws_region        = "us-west-2"

snowalert_warehouse_name = "SNOWALERT_WAREHOUSE"
snowalert_database_name  = "SNOWALERT"

admin_role             = "ADMIN_RL"
integration_owner_role = "INTEGRATION_OWNER_RL"
ingest_role            = "INGEST_RL"
alerting_role          = "ALERTING_RL"
modeling_role          = "MODELING_RL"
monitoring_role        = "MONITORING_RL"
